@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.input {  
    display: block;
    height: 30px;


    padding: 10px 218px 14px 16px;

    border: 1px solid #A9A9A9;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0 0 30px 0;


    
}

.input:last-child {
    margin: 0 0 40px 0;
}



.input:focus {
    outline: #6495ED;
    border-color: #6495ED;
}

.label__text {
    color: #444150;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 

}


.star {
    color: #6495ED;
    font-family: 'roboto'
}
























.f123 {
    width: 10px;
    height: 10px;
}