@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat&family=Roboto&display=swap');

body {
    margin: 0;
}


.container {
    width: 100%;
    margin: 0 auto;
    width: 426px;
}


.login {
    padding: 199px 0;
}


.login__title {
    font-family: Montserrat;
    font-size: 29px;
    color: #032D23;
    font-style: normal;
    line-height: 44px; 
    letter-spacing: -0.64px;
    
}

#blue__text {
    color: #6495ED;
    padding-bottom: 20px;
}


.remember__forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.forget__password {
    color: #032D23;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 188.889% */
    letter-spacing: -0.33px;
    text-decoration: none;
    margin-right: 31px;
}

.registration {
    display: flex;
    justify-content: space-between;
    margin: 30px 144px 0 0;
}

.registration__text {
    color: #032D23;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px; /* 170% */
    letter-spacing: -0.33px;
    text-decoration: none;
}













